In [1]:
%pip install faker psycopg2-binary pandas scikit-learn sqlalchemy pymysql

Requirement already satisfied: faker in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (37.3.0)
Requirement already satisfied: psycopg2-binary in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (2.9.10)
Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: scikit-learn in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: sqlalchemy in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (2.0.41)
Requirement already satisfied: pymysql in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (1.1.1)
Requirement already satisfied: tzdata in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from faker) (2025.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.4.2_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, DateTime, DECIMAL, func, ForeignKey, Date, Text, select, text
from sqlalchemy.orm import sessionmaker,declarative_base
import random
# import psycopg2
import string
from datetime import date
# from faker import Faker
Base = declarative_base()

# MySql Work

In [3]:
class Snack(Base):
    __tablename__ = 'Snacks'
    __table_args__ = {'mysql_charset': 'utf8mb4'}
    
    Id = Column(Integer, primary_key=True, autoincrement=True)
    Name = Column(String(100), nullable=False)
    Price = Column(DECIMAL(18, 2), nullable=False)

class Order(Base):
    __tablename__ = 'Orders'
    __table_args__ = {'mysql_charset': 'utf8mb4'}
    
    Id = Column(String(36), primary_key=True)
    SnackId = Column(Integer, ForeignKey('Snacks.Id'), nullable=False)
    OrderDate = Column(DateTime, nullable=False)
    OrderStatus = Column(Integer, default=0, nullable=False)
    OrderTotal = Column(DECIMAL(18, 2), default=0.00, nullable=False)

In [4]:
# MySQL connection (source)
mysql_engine = create_engine("mysql+pymysql://root:Password1@localhost/SnackRack")
MySQLSession = sessionmaker(bind=mysql_engine)
mysql_session = MySQLSession()
sql = text("""
    SELECT s.Id, s.Name AS snack_name
, COUNT(o.Id) AS sales_count
, DATE(o.OrderDate) AS order_date
    FROM Orders o
    JOIN Snacks s ON s.Id = o.SnackId
    GROUP BY s.Id, s.Name, Date(o.OrderDate)
    ORDER BY sales_count DESC
""")
df = pd.read_sql(sql, mysql_session.get_bind())

In [5]:
snacksales = df
# snacksales.shape

In [6]:
snacksales

   Id        snack_name  sales_count  order_date
0   8  Turkey Sandwhich            8  2025-05-26
1   3         Hamburger            4  2025-05-25
2   1             Pizza            2  2024-10-26
3   7            Banana            1  2025-05-25
4   3         Hamburger            1  2024-10-26
5   2             Pepsi            1  2024-10-26

In [7]:
X = snacksales[['sales_count']]
y = snacksales['Id']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
#print(classification_report(y_test,y_pred))

In [8]:
prediction_results = X_test.copy()
prediction_results['real_most_popular_item'] = y_test.values
prediction_results['predicated_most_popular_item'] = y_pred
outcomes = prediction_results.sort_values(by='predicated_most_popular_item', ascending=False).head()
print(outcomes)

   sales_count  real_most_popular_item  predicated_most_popular_item
0            8                       8                             3

In [9]:
most_popular_snack = mysql_session.query(Snack.Name).filter(Snack.Id == outcomes['predicated_most_popular_item'][0]).scalar()
print(f"Most popular expected snack is {most_popular_snack}")

Most popular expected snack is Hamburger

# Postgres Work

In [10]:
class SnackPrediction(Base):
    __tablename__ = 'snack_predictions'
    __table_args__ = {'schema': 'public'}
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    most_popular_item = Column(Text, nullable=False)
    predicated_date = Column(Date, nullable=False)
    last_sale_date = Column(Date, nullable=False)

In [11]:
postgres_engine = sqlalchemy.create_engine("postgresql:///snack_sales")


# # Create DB engine and session
PostgresSession = sessionmaker(bind=postgres_engine)
postgres_session = PostgresSession()

In [12]:
#print()
prediction = SnackPrediction(
    most_popular_item = most_popular_snack,
    last_sale_date = snacksales['order_date'][0],
    predicated_date = date.today(),
)
postgres_session.add(prediction)
postgres_session.commit()

In [13]:
all_predictions = postgres_session.query(SnackPrediction).all()

#

In [14]:
for pred in all_predictions:
    print(f"{pred.most_popular_item} was the most popular predicated item on {pred.predicated_date} based of sales from {pred.last_sale_date}")

Hamburger was the most popular predicated item on 2025-05-26 based of sales from 2025-05-25
Hamburger was the most popular predicated item on 2025-05-26 based of sales from 2025-05-25
Hamburger was the most popular predicated item on 2025-05-26 based of sales from 2025-05-26
Hamburger was the most popular predicated item on 2025-05-26 based of sales from 2025-05-26